@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	overflow: hidden;
}

.lax {

}

img {
	width: 100%;
	margin: 0;
}

.nav {
	text-align: right;
	padding-top: 1.5em;
	margin-bottom: 2em;
	
}

.nav a {
	margin-right: 1.5em;
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 1.5em;

}

.navigation-holder {
	display: none;
}

.nav li {
	display: inline-block;

}

.logo {
	width: 3%; 
	

}

ul {
	margin: 0;
}

header {
	position: relative;
	z-index: 1;
	overflow: hidden;

	background-color: white;
}

.image-grid {
	margin: 10em;
}



.toggle-button {
	background: url("../images/toggle-button.svg") no-repeat;
	background-size: 80%;
	height: 3em;
	width: 3em;
	position: absolute;
	left: 89%;
	text-align: right;
}

.toggle-nav {
	display: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

.toggle-nav li {
	list-style-type: none;
	padding-top: .5em;
	padding-left: 1em; 
}

.toggle-nav a {
	text-decoration: none;
	color: black;
}

.toggle-nav-open {
	display: block;

}

/*.banner {
	background: url('../images/applestill.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 30em;
}

.banner h1 {
	text-align: center;
	padding-top: 7em;
	padding-bottom: 7em;
	font-size: 300%;
	color: white;
}*/

.wrapper {
	height:100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	-webkit-perspective: 1px; 
	perspective: 1px; 
}

.parallax-scroll {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.back {
	background: url("../images/applestill.jpg") center top / cover no-repeat;
	padding-top: 50%;
	-webkit-transform: translateZ(-1px) scale(2.05);
	transform: translateZ(-1px) scale(2.05);
	position: relative;
	top: calc(((100vh - 40vw) / 4 ) * -2 );
}

.mid {

	transform: translate(-0.5px);
	color: black;
	font-size: 200%;
	position: absolute;
	top: 9em;
	text-align: center;
	font-weight: bold;
	color: white;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.front {

	background-color: white;
	color: black;
	padding:15em 1em;
	transform: translateZ(0);

	text-align: center;

}

.hover-indent {
	transform: scale(1);
	-webkit-transition: all 1000ms;
	transition: all 1000ms;
}

.hover-indent:hover {
	
	
	transform: scale(1.05);
	z-index: 1;
	/*-webkit-filter: grayscale(100%) blur(2px);
	filter: grayscale(100%) blur(2px);*/
	-webkit-filter: brightness(30%);
	filter: brightness(30%);
	overflow: hidden;

}

.figcaption {
	position: absolute;
	bottom: 3em;
}





@media only screen and (min-width: 25em) {

	.toggle-button {
		left: 92%;
	}

}

@media only screen and (min-width: 38em) {

	.toggle-button {
		left: 93%;
	}


}

@media only screen and (min-width: 50em) {
	.navigation-holder {
		display: block;
	}

	.toggle-button {
		display: none;
	}
	.toggle-nav {
		display: none;
	}
	.logo{

	float: left;
}



}

@media only screen and (min-width: 60em) {



}


@media only screen and (min-width: 70em) {

	.front {
		padding-bottom: 26em;
	}

}
